/* ---------------- */
/* common css part */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
}
img {
  vertical-align: middle;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/*  */
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: #000;
  background-color: #ffcc00;
  border-color: #ffcc00;
}
.all-pdt:focus {
  outline: none !important;
}
.btn:focus {
  box-shadow: none !important;
}

/* category section css */

/* products section css */

/*  */

@media (max-width: 575px) {
}
@media (min-width: 576px) and (max-width: 767px) {
}
